.genre-card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #1deffac2;
  color: black;
}

.genre-card > .heading {
  text-align: left;
  margin-top: 111px;
  vertical-align: middle;
  border-radius: 20px;
}

h3 {
  margin-left: 0px;
}

.genre-card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100px;
}

.genre-card > div > a {
  color: black;
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 100%;
}

.playlists {
  border-radius: 20px;
}

.tracks {
  padding: 5px;
  color: black;
  letter-spacing: 0.8px;
}

.genre-card > h2 {
  align-content: center;
  color: black;
}

.tracks > .trackname {
  font-size: 13px;
  color: black;
  /* color: rgb(250, 251, 251); */
  text-decoration: none;
}

.artist {
  padding-left: 5px;
  font-size: 12px;
  color: black; 
  overflow: hidden;
}

.img-icon:hover {
  opacity: 0.5;
}

.img_hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img_hover figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.img-icon {
  border-radius: 20px;
  padding: 5px;
}